<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">trackerWeb</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>
        siguiendo a:
        <strong class="text-primary">{{nombre}}</strong>
      </h1>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
    <div class="col-md-4">
      <h1>Taxistas</h1>
      <p>Seleccione para seguir</p>

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let usuario of usuarios | async" (click)="elegir(usuario)">
          {{usuario.nombre}}
        </li>
      </ul>
      <br>
      <button type="button" class="btn btn-primary btn-block">
        Dejar de segir
      </button>
    </div>
  </div>
</div>
